.cinemaBox{
    display: block;
    height:fit-content;
}
.cinGrid{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr; 
}
.cinemasRow{
    display: inline-block;
    grid-gap: 10px;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr; 
    width:95%;
    padding-left:40px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 200px;
}
.cinemasRow .detailBox{
    background-color: rgba(165, 167, 167, 0.5);
    width: 500px;
    display: inline-block;
    position: relative;
    height: 90px;
    top:20%;
}
.cinemasRow .detailBox span{
    width: 500px;
    display: inline-block;
    position: relative;
    height:110px;
}

.loadBtn{
    position: absolute;
    right:50%;
    top:80%;
    padding: 3px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: "Copperplate Gothic Light", sans-serif;
    box-shadow: 1px 5px 5px rgb(38 66 85);
    font-weight: bolder;
    font-size: 18px;
}
